<!DOCTYPE html>
<html>
<head>
	<title>User Authentication</title>
</head>
<body>
<h2>Dashboard</h2>
<h5>Hurray! you are logged in.</h5>

<form id="logout" name="logout" action="logout">
  <label for="logout">Log Out</label>
  <input class="btn" type="submit" value="Log Out" />
</form>


</body>
</html>